
@{
  Layout = null;
}

@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/element")
@Scripts.Render("~/bundles/axios")
@Styles.Render("~/Content/elementcss")

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>安阳市人民警察训练学校在线考试系统</title>
  <style>
    .sm-btn {
      padding: 10px 18px;
    }

    body {
      padding: 0;
      margin: 0;
      background-color: #ccc;
    }

    .el-container {
      padding: 0 !important;
      flex-direction: column;
      height: 100vh;
    }

    .el-header {
      width: 100%;
      background-color: #081842;
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

      .el-header h2 {
        display: inline-block;
        color: #fffffa;
        font-size: 20px;
        text-align: center;
      }

        .el-header h2 .logo-image {
          display: inline-block;
          height: 30px;
          vertical-align: middle;
          margin-right: 5px;
          position: relative;
          top: -1px;
        }

      .el-header .header-nav {
        display: inline-block;
        border-bottom: none;
      }

      .el-header .login-user {
        color: #fffffa;
        font-weight: 600;
      }

    .el-main {
      /*padding: 0 220px;*/
      display: flex;
      justify-content: center;
    }

      .el-main .calendar {
        border-radius: 5px;
        box-shadow: 2px 2px 10px #666;
        padding: 20px;
        width: 80%;
      }

      .el-main .calendar-day {
        display: inline-block;
        padding-right: 6px;
      }

      .el-main .exam-wrap {
        display: inline-block;
      }

      .el-main .have-exam {
        font-size: 12px;
        color: orange;
      }

    .el-calendar-table .el-calendar-day {
      height: 70px;
      overflow: hidden;
      padding: 2px 5px;
    }

    .el-footer {
      background-color: #081842;
      color: #fffffa;
      text-align: center;
      line-height: 60px;
    }
  </style>
</head>
<body>
  <div id="app" class="el-container">
    <el-header class="el-header">
      <h2>
        <img class="logo-image" src="~/Static/images/logo1.png" />
        <span>安阳市人民警察训练学校在线考试系统</span>
      </h2>
      <el-menu background-color="#081842" text-color="#fffffa" active-text-color="#fff000" class="header-nav" text mode="horizontal">
        <el-menu-item index="1"><el-link :underline="false" href="/Home/Message">成绩查询</el-link></el-menu-item>
        <el-menu-item index="2"><el-link :underline="false" href="#">进入考试</el-link></el-menu-item>
        <el-menu-item index="3" v-if="roleId !== '1'"><el-link :underline="false" href="/BackEnd/Index">后台管理</el-link></el-menu-item>
        <el-menu-item index="4">
          <el-button type="success" class="sm-btn" @@click="toLogin" v-if="loginUser === null || loginUser === ''">登陆</el-button>
          <el-dropdown @@command="toLogout" trigger="click" v-else>
            <span class="login-user">
              当前用户：{{loginUser}}
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="toLogout">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-menu-item>
      </el-menu>
    </el-header>
    <el-main class="el-main">
      <el-calendar class="calendar" v-model="thisDay" first-day-of-week=7>
        <template slot="dateCell" slot-scope="{date, data}">

          <div style="display:flex;justify-content:start;">
            <div class="calendar-day">{{ data.day.split('-').slice(2).join('-') }}</div>
            <el-popover placement="top-start"
                        title="全部考试"
                        trigger="hover">
              <div v-for="exam in getExamsByOneDay(data.day)">{{exam}}</div>
              <div class="exam-wrap" slot="reference">
                <div v-for="item in haveExam" v-if="item.date === data.day" class="have-exam">
                  {{item.title}}
                </div>
              </div>
            </el-popover>
          </div>
        </template>
      </el-calendar>
    </el-main>
    <el-footer class="el-footer">欢迎使用安阳市人民警察训练学校在线考试系统</el-footer>
  </div>
</body>
</html>
<script>
  new Vue({
    el: '#app',
    data: {
      thisDay: new Date(),
      haveExam: [],
      loginUser: '',
      roleId: '1'
    },
    methods: {
      // 根据日期拿到考试科目
      getExamsByOneDay(day) {
        let allExams = [];
        for (let i = 0; i < this.haveExam.length; i++) {
          if (this.haveExam[i].date === day) {
            allExams.push(this.haveExam[i].title);
          }
        }
        return allExams;
      },
      toLogin() {
        window.location.href = '/Login/Index';
      },
      toLogout() {
        console.log('logout')
        localStorage.clear();
        window.location.href = '/Login/Logout';
      }
    },
    created() {
      this.haveExam = JSON.parse(@Html.Raw(Json.Encode(ViewBag.Exams)));

      this.loginUser = localStorage.getItem("name")|| '';

      this.roleId = localStorage.getItem("roleId") || '1';

      const time = new Date(localStorage.getItem('endTime')) - Date.now();

      setTimeout(() => {
        localStorage.clear();
        window.location.href = '/Home/Index';
      }, time);
    }
  });
</script>
