
@{
  Layout = null;
}

@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/element")
@Scripts.Render("~/bundles/axios")
@Styles.Render("~/Content/elementcss")

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>安阳市人民警察训练学校在线考试系统-后台</title>
  <link href="~/Static/css/default.css" rel="stylesheet" />
  <style>
    .el-container {
      padding: 0 !important;
      /*flex-direction: column;*/
      height: 100vh;
    }

    .el-header {
      width: 100%;
      background-color: #081842;
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

      .el-header h2 {
        display: inline-block;
        color: #fffffa;
        font-size: 20px;
        text-align: center;
        line-height: 60px;
      }

        .el-header h2 .logo-image {
          display: inline-block;
          height: 30px;
          vertical-align: middle;
          margin-right: 5px;
          position: relative;
          top: -1px;
        }

      .el-header .header-nav {
        display: inline-block;
        border-bottom: none;
      }

      .el-header .login-user {
        color: #fffffa;
        font-weight: 600;
      }

    .main-wrap {
      height: 80%;
      overflow: hidden;
    }

      .main-wrap .el-button--text {
        color: #303133;
      }


      .main-wrap .sub-btn {
        margin-left: 3rem;
      }

      .main-wrap .el-aside {
        height: 100%;
        width: 16% !important;
        background-color: #eef1f6;
        float: left;
        overflow: hidden;
      }

        .main-wrap .el-aside i {
          margin-right: 5px;
          line-height: 49px;
        }

      .main-wrap ul li {
        cursor: pointer;
        transition: background-color linear 300ms;
      }

        .main-wrap ul li.active {
          background-color: #d1dbe5;
        }

          .main-wrap ul li.active span {
            color: #1675ba;
          }

        .main-wrap ul li:hover {
          background-color: #ccc;
          transition: background-color linear 300ms;
        }

      .main-wrap .el-aside .el-collapse {
        background-color: #eef1f6;
      }

        .main-wrap .el-aside .el-collapse .el-collapse-item,
        .main-wrap .el-aside .el-collapse .el-collapse-item .el-collapse-item__header {
          background-color: #eef1f6;
        }

          .main-wrap .el-aside .el-collapse .el-collapse-item .el-collapse-item__header {
            padding-left: 20px;
            padding-right: 8px;
            font-size: 16px;
          }

          .main-wrap .el-aside .el-collapse .el-collapse-item .el-collapse-item__content {
            background-color: #E4E8F1;
            padding-bottom: 0;
          }

      .main-wrap .el-main {
        width: 84%;
        float: left;
        padding: 14px 20px;
      }

        .main-wrap .el-main .main-header {
          padding: 0 0 0.8rem 0.5rem;
          font-weight: 700;
        }

        .main-wrap .el-main .el-table {
          border: 1px solid #dfe6ec;
        }

          .main-wrap .el-main .el-table thead {
            color: #00000f;
          }

            .main-wrap .el-main .el-table thead th {
              height: 40px;
              box-sizing: border-box;
              padding: 0;
              background-color: #dfe6ec;
            }

          .main-wrap .el-main .el-table td {
            padding: 10px 0;
          }

        .main-wrap .el-main .search-wrap {
          display: flex;
          justify-content: start;
          background-color: #f2f2f2;
          padding: 10px 12px;
          align-items: center;
          border-radius: 8px;
          margin-bottom: 10px;
        }

          .main-wrap .el-main .search-wrap .el-input {
            width: 10rem;
            margin-right: 1rem;
          }

          .main-wrap .el-main .search-wrap .el-button {
            padding: 0 0.5rem;
            height: 2.2rem;
          }

        .main-wrap .el-main .pagination {
          padding: 14px 20px;
          background-color: #f2f2f2;
          border-radius: 8px;
          margin-top: 10px;
        }

          .main-wrap .el-main .pagination .el-pagination {
            float: right;
          }

          .main-wrap .el-main .pagination li.number {
            background-color: #fff;
          }

    .new-user .main-content {
      padding-top: 1rem;
      padding-left: 2rem;
      width: 24rem;
    }

      .new-user .main-content .el-form-item__content {
        display: inline-block;
      }

      .new-user .main-content input {
        width: 18rem;
      }

      .new-user .main-content .role-wrap {
        padding-left: 0.7rem;
      }

      .new-user .main-content .new-btn {
        margin-left: 3.3rem;
        background-color: #081842;
        border-color: #081842;
      }
  </style>
</head>
<body>
  <el-container id="app">
    <el-header>
      <h2>
        <img class="logo-image" src="~/Static/images/logo1.png" />
        <span>考试系统后台管理</span>
      </h2>
      <el-menu background-color="#081842" text-color="#fffffa" active-text-color="#fff000" class="header-nav" text mode="horizontal">
        <el-menu-item index="1"><el-link :underline="false" href="/Home/Index">返回首页</el-link></el-menu-item>
        <el-menu-item index="2">
          <el-dropdown @@command="toLogout" trigger="click">
            <span class="login-user">
              当前用户：{{loginUser}}
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="toLogout">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-menu-item>
      </el-menu>
    </el-header>
    <el-container class="main-wrap">
      <el-aside>
        <el-collapse v-model="activeName">
          <el-collapse-item name="1">
            <template slot="title">
              <i class="el-icon-user-solid"></i>
              用户管理
            </template>
            <ul>
              <li :class="[currentTag === 'user-table' ? 'active': '' ]" @@click="changeTag('user-table')">
                <el-button type="text" class="sub-btn">用户列表</el-button>
              </li>
              <li :class="[currentTag === 'new-user' ? 'active': '' ]" @@click="changeTag('new-user')">
                <el-button type="text" class="sub-btn">添加新用户</el-button>
              </li>
              <li :class="[currentTag === 'score-table' ? 'active': '' ]" @@click="changeTag('score-table')">
                <el-button type="text" class="sub-btn">考生成绩表</el-button>
              </li>
              <li :class="[currentTag === 'change-user-exam' ? 'active': '' ]" @@click="changeTag('change-user-exam')">
                <el-button type="text" class="sub-btn">调整考生场次</el-button>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item title="" name="2">
            <template slot="title">
              <i class="el-icon-s-order"></i>
              考试管理
            </template>
            <ul>
              <li :class="[currentTag === 'exam-table' ? 'active': '' ]" @@click="changeTag('exam-table')">
                <el-button type="text" class="sub-btn">场次列表</el-button>
              </li>
              <li :class="[currentTag === 'new-exam' ? 'active': '' ]" @@click="changeTag('new-exam')">
                <el-button type="text" class="sub-btn">添加考试</el-button>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item title="" name="3">
            <template slot="title">
              <i class="el-icon-s-management"></i>
              试卷管理
            </template>
            <ul>
              <li :class="[currentTag === 'paper-table' ? 'active': '' ]" @@click="changeTag('paper-table')">
                <el-button type="text" class="sub-btn">试卷列表</el-button>
              </li>
              <li :class="[currentTag === 'new-paper' ? 'active': '' ]" @@click="changeTag('new-paper')">
                <el-button type="text" class="sub-btn">添加试卷</el-button>
              </li>
            </ul>
          </el-collapse-item>
          <el-collapse-item title="" name="4">
            <template slot="title">
              <i class="el-icon-s-cooperation"></i>
              题库管理
            </template>
            <ul>
              <li :class="[currentTag === 'question-table' ? 'active': '' ]" @@click="changeTag('question-table')">
                <el-button type="text" class="sub-btn">题目列表</el-button>
              </li>
              <li :class="[currentTag === 'new-question' ? 'active': '' ]" @@click="changeTag('new-question')">
                <el-button type="text" class="sub-btn">添加题目</el-button>
              </li>
            </ul>
          </el-collapse-item>
        </el-collapse>
      </el-aside>
      <el-main>
        <user-table :users="users"
                    :searchkey="searchKey"
                    :totalnum="totalNum"
                    v-if="currentTag === 'user-table'"
                    @@current-page="currentPageChange"
                    @@input-change="inputTextChange"
                    @@search="searchByKeyword"></user-table>
        <new-user v-if="currentTag === 'new-user'"></new-user>
        <score-table v-if="currentTag === 'score-table'"></score-table>
      </el-main>
    </el-container>
  </el-container>
</body>
</html>

@Scripts.Render("~/component/new-user")
@Scripts.Render("~/component/user-table")
@Scripts.Render("~/component/score-table")

<script>
  const vm = new Vue({
    el: '#app',
    data: {
      currentTag: 'user-table',
      activeName: '1',
      users: [],
      searchKey: '',
      totalNum: 100,
      currentPage: 1,
      loginUser:''
    },
    methods: {
      // 切换组件
      changeTag: function (targetComponent) {
        this.currentTag = targetComponent;
      },
      // 改变当前页码
      currentPageChange: function (val) {
        this.currentPage = val;
      },
      // 改变搜索关键词
      inputTextChange: function (val) {
        this.searchKey = val;
      },
      // 更新用户列表
      updateUserList: function (pageIndex, keyword) {
        axios.get('/BackEnd/UserTableChange', {
          params: {
            pageIndex,
            keyword
          }
        }).then(res => {
          data = JSON.parse(
            JSON.parse(JSON.stringify(res.data)
              .replace(/=/g, ':')
              .replace('users', '\\"users\\"')
              .replace('totalCount', '\\"totalCount\\"'))
          );
          this.users = data.users;
          this.totalNum = data.totalCount;
        });
      },
      searchByKeyword: function () {
        this.updateUserList(1, this.searchKey);
      },
      toLogout: function () {
        console.log('logout')
        localStorage.clear();
        window.location.href = '/Login/Logout';
      }
    },
    watch: {
      currentPage: function (val, oldVal) {
        this.updateUserList(val, this.searchKey);
      }
    },
    created() {
      this.users = JSON.parse(@Html.Raw(Json.Encode(ViewBag.Users)));
      this.totalNum = @ViewBag.TotalNum;
      if (new Date(localStorage.getItem('endTime')) < Date.now()) {
        localStorage.clear();
      }
      this.loginUser = localStorage.getItem('name') || '';
    }
  });
</script>
